DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me-in-real-environments
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Europe/Istanbul
APP_VERSION=0.1.0-phase0

POSTGRES_DB=avk
POSTGRES_USER=avk
POSTGRES_PASSWORD=avk
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

USE_SQLITE=true

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

